{% extends 'base.html' %}
{% block content %}
<h2>Notebook</h2>
<!-- Buttons -->
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#species-count"
        aria-expanded="false" aria-controls="collapseExample">
        Species Count
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sightings-log"
        aria-expanded="false" aria-controls="collapseExample">
        Sightings Log
    </button>
</p>
<div class="collapse" id="species-count">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>
<div class="collapse" id="sightings-log">
    <div class="card card-body">
        Sightings Log
    </div>
</div>

{% endblock %}