/* font-family: 'Fredqoka One', cursive; */


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.searchbar {
    height: 30px;
    width: 100%;
}

/* Navbar */
ul.nav {
    z-index: 99 !important;
    background: aqua;
}

 /* Index */

#go-map {
    height: 450px;
    width: 450px;
    border-radius: 30%;
    background: #F15025;
    /* color: yellow;
    font-size: 50px; */
    position: absolute;
    top: -125px;
    left: -125px;
}

#go-map:focus,
#saw-bird:focus {
    outline: none;
    border: 30px solid purple;
    cursor: pointer;
}

#saw-bird {
    height: 450px;
    width: 500px;
    border-radius: 100%;
    background: #C2E812;
    /* color: yellow;
    font-size: 50px; */
    position: absolute;
    bottom: -125px;
    right: -125px;
}