/* font-family: 'Fredqoka One', cursive; */


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden !important ;
}

.searchbar {
    height: 30px;
    width: 100%;
}

/* Navbar */
ul.nav {
    z-index: 99 !important;
    /* background: aqua; */
    position: fixed;
    right: 0;
}

 /* Index */

#go-map {
    height: 450px;
    width: 450px;
    border-radius: 0 0   20% 0;
    background: #403233;
    /* color: yellow;
    font-size: 50px; */
    position: absolute;
    /* top: -125px; */
    top: -10px;
    /* left: -125px; */
}

#go-map:focus,
#saw-bird:focus {
    outline: none;
    border: 30px solid purple;
    cursor: pointer;
}

#saw-bird {
    height: 550px;
    width: 600px;
    border-radius: 100%;
    background-color: #B9FFB7;
    /* background-image: url('../images/parrot.png'); */
    /* color: yellow;
    font-size: 50px; */
    position: absolute;
    bottom: 0;
    bottom: -125px;
    right: -125px;
    overflow: hidden;
}

img {
    height: 100%;
}
