/* font-family: 'Fredqoka One', cursive; */


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.searchbar {
    height: 30px;
    width: 100%;
}

#saw_bird {
    height:100px;
    width:100px;
    background: green;
    z-index: 23;
    position: absolute;
    top: 20px;
    left: 100px;
}